body {
  padding-top: 56px;
}

.carousel-item {
  height: 85vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*containter to the background of index page*/
.ctn-background {
  background-image: url("../images/index.jpg");
  height: 83vh;
  min-height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position-y: center;
}

/* TO DO:
RENAME THIS CLASS AND UPDATE CONTENT */
.portfolio-item {
  margin-bottom: 30px;
}

#id_google-map {
  width: 100%;
  height: 400px;
}
